 html, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


.flex-container{
  background: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 20px;
  height: 100vh;
  width: 100vw; 
}

.header{
  height: 20%;
  width: 100vw;
  padding: 10px;
  background: rgb(126, 226, 50);
  
}

.middle{
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100vw;

}
.article{
  
  background-color: white;
  height: 100%;
  padding: 10px;
  width: 70%;
}

.nav{
  background: rgb(208, 237, 211);
  height: 100%;
  padding: 10px;
  width: 15%;
}

.aside{
  background-color: rgb(242,250,218);
  height: 100%;
  padding: 10px;
  width: 15%;
}


.footer{
  height: 20%;
  width: 100vw;
  background: rgb(126, 226, 50);
  padding: 10px;
} 

