.flex-container{
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200vh;
  margin: 50px;
  font-size: 30px;
  text-align: center;
}

.header{
  height: 20%;
  width: 200vh;
  background: rgb(32, 226, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.middle{
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 200vh;

}
.article{
  
  background-color: white;
  height: 100%;
  width: 120vh;
}

.nav{
  background: rgb(236, 236, 198);
  height: 100%;
  width: 40vh;
}

.aside{
  background-color: rgb(130, 240, 240);
  height: 100%;
  width: 40vh;
}


.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 200vh;
  background: rgb(32, 226, 32);
}

