.flex-container{
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh; 
}

.header{
  height: 10%;
  width: 100vh;
  background: rgb(108, 245, 66);
  
}

.middle{
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100vh;

}
.article{
  
  background-color: white;
  height: 100%;
  width: 70%;
}

.nav{
  background: rgb(230, 230, 198);
  height: 100%;
  width: 15%;
}

.aside{
  background-color: rgb(238, 245, 237);
  height: 100%;
  width: 15%;
}


.footer{
  height: 10%;
  width: 100vh;
  background: rgb(108, 245, 66);
} 

